<html>
<head>
    <script src="{{url_for('static', filename='jquery-3.6.1.min.js')}}"></script>
</head>
<body>
<script src="{{url_for('static', filename='myjs.js')}}"></script>
<div>
    <p>Size</p>
    <span>
        <input id="sizeAny" type="checkbox" checked="True" onclick='anySize(this)' value="Any"/>
        <label for="sizeAny">Any</label>
        <div id="sizeBoxes" style="display:none">
            <span>
                <input name="standardsize" type="checkbox" value="3x3"/>
                <label for="standardsize">3x3</label>
            </span>
            <span>
                <input name="standardsize" type="checkbox" value="4x4"/>
                <label for="standardsize">4x4</label>
            </span> 
            <span>
                <input name="standardsize" type="checkbox" value="5x5"/>
                <label for="standardsize">5x5</label>
            </span> 
            <span>
                <input name="standardsize" type="checkbox" value="6x6"/>
                <label for="standardsize">6x6</label>
            </span> 
            <span>
                <input name="standardsize" type="checkbox" value="7x7"/>
                <label for="standardsize">7x7</label>
            </span> 
            <span>
                <input name="standardsize" type="checkbox" value="8x8"/>
                <label for="standardsize">8x8</label>
            </span>
            <span>
                <input name="standardsize" type="checkbox" value="9x9"/>
                <label for="standardsize">9x9</label>
            </span> 
            <span>
                <input name="standardsize" type="checkbox" value="10x10"/>
                <label for="standardsize">10x10</label>
            </span>  
            <span>
                <input id="customsizecb" type="checkbox"  onclick='customSize(this)' value="Custom"/>
                <label for="customsizecb">Custom</label>
            </span>  
            <span id="customSize" style="display:none">
                <p>Your size (empty = any)</p>
                <input id="customSizeInput" type="text"/>
            </span>
        </div>
    </span>  
</div>
<div>   
    <p>Solve types</p> 
    <span>
        <input id="solvetypeAny" type="checkbox" onclick='anySolveType(this)' value="Any"/>
        <label for="solvetypeAny">Any</label>
    </span>     
    <div id="solveTypesBoxes">
        <span>
            <input name="solvetype" checked="True" type="checkbox" value="Standard"/>
            <label for="solvetype">Standard</label>
        </span> 
        <span>
            <input name="solvetype" type="checkbox" value="2-N relay"/>
            <label for="solvetype">2-N relay</label>
        </span>    
        <span>
            <input name="solvetype" type="checkbox" value="Width relay"/>
            <label for="solvetype">Width relay</label>
        </span>
        <span>
            <input name="solvetype" type="checkbox" value="Height relay"/>
            <label for="solvetype">Height relay</label>
        </span>
        <span>
            <input name="solvetype" type="checkbox" value="Everything-up-to relay"/>
            <label for="solvetype">Everything-up-to relay</label>
        </span>
        <span>
            <input id="marathoncb" name="solvetype" type="checkbox" onclick='marathonSelected(this);' value="Marathon"/>
            <label for="solvetype">Marathon</label>
        </span>
        <span>
            <input name="solvetype" type="checkbox" value="BLD"/>
            <label for="solvetype">BLD</label>
        </span>       
        <span id="marathon" style="display:none">
            <p>Amount of solves in marathon (empty if any)</p>
            <input id="marathonCount" type="text"/>
        </span>
    </div>
</div>
<div>  
    <p>Dispaly types</p> 
    <span>
        <input id="displaytypeAny" type="checkbox" onclick='anyDisplayType(this)' value="Any"/>
        <label for="displaytypeAny">Any</label>
        <div id="displayTypesBoxes">
            <span>
                <input name="displaytype" checked="True" type="checkbox" value="Standard"/>
                <label for="displaytype">Standard</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Minimal"/>
                <label for="displaytype">Minimal</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Row minimal"/>
                <label for="displaytype">Row minimal</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Fringe minimal"/>
                <label for="displaytype">Fringe minimal</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Inverse permutation"/>
                <label for="displaytype">Inverse permutationd</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Manhattan"/>
                <label for="displaytype">Manhattan</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Vectors"/>
                <label for="displaytype">Vectors</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Incremental vectors"/>
                <label for="displaytype">Incremental vectors</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Inverse vectors"/>
                <label for="displaytype">Inverse vectors</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="RGB"/>
                <label for="displaytype">RGB</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Chess"/>
                <label for="displaytype">Chess</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Adjacent tiles"/>
                <label for="displaytype">Adjacent tiles</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Adjacent sum"/>
                <label for="displaytype">Adjacent sum</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Last move"/>
                <label for="displaytype">Last move</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Fading tiles"/>
                <label for="displaytype">Fading tiles</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Vanish on solved"/>
                <label for="displaytype">Vanish on solved</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Minesweeper"/>
                <label for="displaytype">Minesweeper</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Minimal unsolved"/>
                <label for="displaytype">Minimal unsolved</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Maximal unsolved"/>
                <label for="displaytype">Maximal unsolved</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Rows and columns"/>
                <label for="displaytype">Rows and columns</label>
            </span>
            <span>
                <input name="displaytype" type="checkbox" value="Adjacent tiles"/>
                <label for="displaytype">Adjacent tiles</label>
            </span> 
        </div>
</div>
<div>
    <p>Control types</p> 
    <span>
        <input name="controltype" checked="True" type="checkbox" value="Keyboard"/>
        <label for="controltype">Keyboard</label>
    </span> 
    <span>
        <input name="controltype" checked="True" type="checkbox" value="Mouse"/>
        <label for="controltype">Mouse</label>
    </span> 
    <span>
        <input name="controltype" type="checkbox" value="Keyboard+macros"/>
        <label for="controltype">Keyboard+macros</label>
    </span> 
</div>
<div>
    <p>Advanced</p>
    <span>
        <input id="randomPermCB" name="advancedoption" checked="True" type="checkbox" value="RandomPermCheck"/>
        <label for="advancedoption">Random permutation only</label>
    </span>
    <span>
        <input id="onlyCompletedCB" name="advancedoption" checked="True" type="checkbox" value="OnlyCompleted"/>
        <label for="advancedoption">Only Completed</label>
    </span>
    <span>
        <input id="noDNFCB" name="advancedoption" checked="True" type="checkbox" value="NoDNF"/>
        <label for="advancedoption">No BLD DNF</label>
    </span>
    <span>
        <input name="advancedoption" title="TBA" disabled="True" checked="True" type="checkbox" value="NoSkips"/>
        <label title="TBA" for="advancedoption">No skipped scrambles</label>
    </span>
</div>
<div>
    <input id="getdata" type="button" value="Eggag!" />
</div>
<div id="tableContainer">

</div>
<script>
    const sovleTypeDiv = document.getElementById('solveTypesBoxes');
    const displayTypeDiv = document.getElementById('displayTypesBoxes');
    const marathonCounterSpan = document.getElementById('marathon');
    const sizeBoxes = document.getElementById('sizeBoxes');
    const customSizeBox = document.getElementById('customSize');
    const sizeAny = document.getElementById("sizeAny");
    const sizesArray = document.getElementsByName("standardsize")
    const customsizecb = document.getElementById("customsizecb");
    const customSizeInput = document.getElementById("customSizeInput");
    const solvetypeAny = document.getElementById("solvetypeAny");
    const solvetypesArray = document.getElementsByName("solvetype")
    const marathoncb = document.getElementById("marathoncb");
    const marathonCountInput = document.getElementById("marathonCount");
    const displaytypeAny = document.getElementById("displaytypeAny");
    const displaytypeArray = document.getElementsByName("displaytype");
    const controltypeArray = document.getElementsByName("controltype");
    const randomPermCB = document.getElementById("randomPermCB");
    const noDNFCB = document.getElementById("noDNFCB");
    const onlyCompletedCB = document.getElementById("onlyCompletedCB");
    const tableContainer = document.getElementById("tableContainer");
    const rgNxM = /^[1-9][0-9]{0,3}[x|X][1-9][0-9]{0,3}$/;
    const rgMarathon = /^[1-9][0-9]{0,5}|1000000$/;
    const headers = ["ID", "Size", "Time", "Moves", "TPS", "Scramble", "Solution", "Date"];
</script>
</body>

</html>